body {
  background-color: #E9EDFB;
  border: #1E3EB3 soild;
  border-radius: 20px;
  family-font: serif;
   margin: 0.7rem;
   padding: 0.5rem;
}

header {
  background-color: #738DE7;
  border: #1E3EB3 dotted;
   border-radius: 20px;
   display: flex;  /* Use Flexbox */
   justify-content: space-between; /* Push heading left, nav right */
   align-items: center;         
   padding: 20px 35px; 
  
}
  
h1 {
  color: #1E3EB3;
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  display: flex;   /* Horizontal menu */     
}

nav a {
  background-color: #E9EDFB;
  border-radius: 20px;
  color: blue;
  font-family:"Roboto Slab", serif;
  font-size: 20px;
  margin: 0.5rem;
  padding: 0.5rem; 
}


.Introduction p1 {
  color: #1E3EB3;
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom:5.5rem;
  margin-left: 4.5rem;
  margin-right: 6rem;
  marign-top: 5.5rem;
}

.Introduction h2 {
  background-color:#738DE7;
  border: #1E3EB3 dotted;
  border-radius: 20px;
  color: #1E3EB3;
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  margin-top:5rem;
  padding: 20px 35px; 
  text-align:left;
}

.AboutMe-img {
  border: #1E3EB3 dotted;
  boarder-radius: 10px;
  width: 300px;
  height: 275px;
  margin-bottom: 1rem;
}

.Introduction p2 {
  color: #1E3EB3;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom:4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
}

.Introduction p3 {
  color: #1E3EB3;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  line-height: 1.5;
   margin-bottom:5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 5rem;
}

.Introduction p4 {
  color: #1E3EB3;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  line-height: 1.5;
   margin-bottom:25rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 25rem; 
}
